[Unit]
Description=Clipboard history (image)
PartOf=prime-session.target

[Service]
ExecStart=/usr/bin/wl-paste --type image --watch /usr/bin/cliphist store
Restart=on-failure
RestartSec=2
