[Unit]
Description=Tell the person that a part of the desktop stopped (%i)

[Service]
Type=oneshot
ExecStart=%h/.local/share/prime-linux/layer/bin/prime-failed %i
