[Unit]
Description=Clipboard history (text)
PartOf=prime-session.target

[Service]
ExecStart=/usr/bin/wl-paste --type text --watch /usr/bin/cliphist store
Restart=on-failure
RestartSec=2
